anthropic
streamlit
watchdog
openai

qdrant-client
pymongo
langchain_community
pypdf
langchain_text_splitters
langchain_experimental
llama-index
llama-index-vector-stores-qdrant
llama-index-readers-file
llama-index-embeddings-fastembed
qdrant_client
fastembed
openai==1.14.1
langchainhub