[anthropic]
api_key = ""

[qdrant]
url = ""
api_key = ""

[fireworks]
api_key = ""
base_url = ""


[model]
embedding = "nomic-ai/nomic-embed-text-v1.5"
llm_model = "accounts/fireworks/models/mixtral-8x7b-instruct"